Source: jehon-debs
Section: unknown
Priority: extra
Maintainer: Jean Honlet <jeanhonlet@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: http://www.github.org/jehon/packages/
Vcs-Git: git@github.org:jehon/packages.git
Vcs-Browser: https://www.github.org/jehon/packages/


Package: jehon-base-minimal
Depends: jehon, jehon-packages
Architecture: all
Description: transitional to jehon and jehon-packages

Package: jehon
## Provides: jehon-base-minimal
## Replaces: jehon-base-minimal
## Conflicts: jehon-base-minimal
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
	dpkg (>= 1.17.14)
Depends: ${misc:Depends},
	apt-transport-https,
	bash,
	cifs-utils,
	curl,
	debconf,
	gnupg2,
	htop,
	less,
	lsb-release,
	openssh-server,
	samba,
	screen,
	sed,
	sudo,
	ufw,
	virt-what
Recommands: openssh-server (>= 8.4)
Description: Jehon scripts and security
  ! we need openssh-server >= 8.2 for openssh config to be applied
  ! we need openssh-server >= 8.4 for known hosts to be taken into account

Package: jehon-packages
Architecture: all
Provides: jehon-base-thirdparties
Replaces: jehon-base-thirdparties
Breaks: jehon-base-thirdparties
Pre-Depends: ${misc:Pre-Depends}
	dpkg (>= 1.17.14)
Depends: ${misc:Depends}, jehon,
	debfoster,
	dialog,
	dirmngr,
	entr,
	exif,
	exiftran,
	exiv2,
	fdupes,
	gcc,
	gettext-base,
	git,
	git-crypt,
	imagemagick-6.q16,
	jq,
	less,
	lftp,
	libatk1.0-dev,
	libexiv2-dev,
	libimage-exiftool-perl,
	libnss3-dev,
	lsb-release,
	make,
	multitail,
	nmap,
	ntp,
	openssh-client,
	parted,
	python-pkg-resources,
	rsync,
	shellcheck,
	sshpass,
	thefuck,
	traceroute
Description: Jehon minimal hooks

Package: jehon-env-desktop
Architecture: all
Depends: jehon-desktop
Description: transitional to jehon-desktop

Package: jehon-desktop
Architecture: all
## Provides: jehon-env-desktop
## Replaces: jehon-env-desktop
## Breaks: jehon-env-desktop
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, jehon, jehon-packages,
	activity-log-manager,
	chromium-browser | chromium,
	encfs,
	exfat-fuse,
	exfat-utils,
	git-cola,
	google-chrome-stable,
	gparted,
	gstreamer1.0-plugins-bad,
	gstreamer1.0-plugins-ugly,
	libasound2,
	libgconf-2-4,
	libgtk2.0-0,
	libnotify-dev,
	libnss3,
	libxss1,
	meld,
	pdfsam,
	snapd,
	terminator,
	xclip,
	xprintidle,
	xtermcontrol,
	xvfb
Description: Jehon environnement
